Submittal Guidelines

Material may be submitted for posting to this website, subject to the following restrictions:
You must own the copyright (be the original creator) of the submitted material, and state this in your submittal email to webmaster@houseofukraine.com  Just because you paid for a brochure to be printed does not mean you own the electronic publishing rights to its artwork.  Check your contract.  Unless it specifically says you own the work, you don't.  
Please submit only PDF files, not Microsoft Word files.  Microsoft Word files are notoriously unreliable regarding viruses and fonts.  Most folks who have the choice avoid them. 
Store all photos on your own website (such as your own Picasa or ViewBug albums) and provide us with only the link.  Due to upload time constraints and disk-space limitations, we cannot store your JPEG files.  Please store them elsewhere, and then just send us a pointer to them.  
JPEG is a lossy compression graphic file format.  Each time you edit and save a JPEG file, it degrades.
Video contributions should be uploaded to YouTube.  Video files are typically many megabytes in size even for a short clip, and they badly stall our "publish to the web" process.
All materials are subject to review and can be removed by the Board of  House of Ukraine, Inc. as deemed necessary.
Best option -- send us links to relevant material published on quality websites.  
Still interested in contributing content?  

Send us your photo links and your PDF files! to webmaster@houseofukraine.com